<div ng-cloak>
    <div ng-controller="DietController">
        <div class="row">
            <div class="container">
                <form novalidate class="simple-form">
                    <h1 translate="Dieta">Dieta</h1>
                    <label data-translate="contact.name">Name: <input type="text" ng-model="user.name" /></label><br />
                    <label>E-mail: <input type="email" ng-model="user.email" /></label><br />
                    <label>Subject: <input type="text" ng-model="user.subject" /></label><br />
                    <label>Message: <input type="email" ng-model="user.message" /></label><br />
                    <input type="submit" ng-click="update(user)" value="SEND" />
                </form>
            </div>
        </div>
    </div>
</div>


